div .welcome-container {
    margin: auto;
    padding: 10% 35% 10% 15%;
    color: Green;
}

div .welcome-title {
    font-size: 96px;
    text-align: left;
}

div .welcome-body {
    font-size: 36px;
    text-align: left;
}